body {
  margin: 0;
  font-family: 'Satoshi-Regular';
  font-size: 18px;
  font-weight: normal;
  color: #727272;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
